[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/devtalles-microservices/client-gateway.git
[submodule "products_ms"]
	path = products_ms
	url = https://github.com/devtalles-microservices/products-ms.git
[submodule "orders_ms"]
	path = orders_ms
	url = https://github.com/devtalles-microservices/orders-ms.git
[submodule "payments_ms"]
	path = payments_ms
	url = https://github.com/devtalles-microservices/payments-ms.git
